<div class="container">
  <h2>My games</h2>

  <div class="game-cards-my-games">

    <% @my_games.each do |game| %>

      <div class="game-card-index">
                <%= link_to game_path(game) do %>
                  <div class="card-index-container">

                    <div class="photo">
                      <% if game.photos.count.positive? %>
                          <%= cl_image_tag game.photos.first.key%>
                      <% end %>
                    </div>

                    <div class="infos-card">
                      <div class="title">
                        <h2 class="game-title"><%= game.name.capitalize %></h2>
                        <h2 class="game-title"><%= game.price%>,00 <span class="euro">€</span></h2>
                      </div>

                      <div class="description-card">
                        <h4 class="game-text"><%= game.description%></h4>
                      </div>

                      <div class="tags-card">
                        <h4 class="tag-card tag-card-blue"><%= game.number_of_players%> players</h4>
                        <h4 class="tag-card tag-card-blue"><%= game.category.capitalize%></h4>
                      </div>

                    </div>
                  </div>

                <% end %>
      </div>
    <% end %>
  </div>

</div>
